# Каталог для файлов Вебдрайвера.
# Здесь должен лежать файл chromedriver/chromedriver.exe
# Качать драйвера можно по адресам:
# * https://googlechromelabs.github.io/chrome-for-testing/#stable
# * https://chromedriver.chromium.org/downloads
*
!.gitignore
